GismeteoPresentation/GismeteoPresentation/Connected Services/Gismeteo/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataConnector.Models" />
  <xs:element name="GetCitiesList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCitiesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataConnector.Models" minOccurs="0" name="GetCitiesListResult" nillable="true" type="q1:ArrayOfCity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetForecastBySity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cityId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetForecastBySityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataConnector.Models" minOccurs="0" name="GetForecastBySityResult" nillable="true" type="q2:ArrayOfForecast" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>